*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu-Bold.ttf");
    font-weight: 700;
}

body {
    background-color: #f5f5f5;
    font-family: Ubuntu, sans-serif;
    line-height: 1.4rem;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

.wrapper {
    width: 70%;
    margin: 1% auto;
    display: flex;
    flex-direction: column;
}

.info {
    border: 1px solid grey;
    border-radius: 2% 2% 0 0;
    background-color: #ffffff;
    padding: 2% 0 5% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.info #result {
    background-color: #cec1e8;
    padding: 3%;
    border-radius: 5%;
    flex-basis: 290px;
}

#result #submit {
    background-color: #ffffff;
    border-radius: 10%;
    border: 1px solid #000000;
    padding: 3%;
    vertical-align: center;
}

#system_unit_img {
    width: 210px;
}

.options {
    border: 1px solid grey;
    border-radius: 0 0 2% 2%;
    background-color: #ffffff;
    border-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.options h3 {
    flex-basis: 100%;
    margin-left: 2%;
}

.options div {
    display: flex;
    flex-direction: column;
    margin: 1%;
}

.options #colors {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.options #colors h4 {
    flex-basis: 100%;
}

.picker {
    height: 50px;
    width: 50px;
    border: 1px solid #000000;
    border-radius: 50%;
    cursor: pointer;
}

#colorBlack {
    background-color: #000000;
}

#colorGrey {
    background-color: #838383;
}

#colorRed {
    background-color: #fe1203;
}

#colorOrange {
    background-color: #ff6b0e;
}

#colorYellow {
    background-color: #ecd329;
}

#colorGreen {
    background-color: #5fff17;
}

#colorBlue {
    background-color: #1632ff;
}

#colorMint {
    background-color: #17ff93;
}

#colorPink {
    background-color: #fd2ffd;
}

#colorPurple {
    background-color: #9817ff;
}