*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
}

.wrapper {
    border: 1px solid grey;
    width: 70%;
    margin: 1% auto;
    display: flex;
    flex-direction: column;
}

.info {
    margin: 2% 0 5% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.info #result {
    flex-basis: 30%;
}

#system_unit_img {
    width: 200px;
}

.options {
    border-top: 1px solid grey;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.options h3 {
    flex-basis: 100%;
    margin-left: 2%;
}

.options div {
    display: flex;
    flex-direction: column;
    margin: 1%;
}

.options #colors {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.options #colors h4 {
    flex-basis: 100%;
}

.picker {
    height: 50px;
    width: 50px;
    border: 1px solid #000000;
    border-radius: 50%;
    cursor: pointer;
}

#colorBlack {
    background-color: #000000;
}

#colorGrey {
    background-color: #838383;
}

#colorRed {
    background-color: #fe1203;
}

#colorOrange {
    background-color: #ff6b0e;
}

#colorYellow {
    background-color: #ecd329;
}

#colorGreen {
    background-color: #5fff17;
}

#colorBlue {
    background-color: #1632ff;
}

#colorMint {
    background-color: #17ff93;
}

#colorPink {
    background-color: #fd2ffd;
}

#colorPurple {
    background-color: #9817ff;
}